body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post-preview {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .post-preview h2 {
    margin-top: 0;
  }
  
  .post-preview p {
    margin: 10px 0;
  }
  
  .post-preview iframe {
    width: 50%;
    height: 300px;
    border: none;
  }
  .map-image {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
  }